
body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
	font-family: Arial;
}

body #page {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
	z-index: 3;
}

a {
	text-decoration: none;
	outline: none;
}

a:active {
	background: none;
}

img {
	border: none;
}

/*Navbar starts here*/

#navbar {
	background-color: slategrey;
	margin: 0;
	min-height: 70px;
	padding: 0;
	width: auto;
}

#navbar div {
	margin: 0 auto;
	max-width: 940px;
	min-height: 70px;
	padding: 0 10px;
}

#navbar div a.namePlate {
	display: block;
	float: left;
	height: 70px;
	margin: 0 20px 0 0px;
	padding: 0;
	width: auto;

	color: #000000;
	font-family: 'Times New Roman';
	font-size: 50px;
	text-align:center;
	text-transform: capitalize;
	line-height: 68px;
}

#navbar div ul {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: auto;
}

#navbar div ul li {
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
}

#navbar div ul li a {
	color: #ffffff;
	display: block;
	font-size: 20px;
	line-height: 68px;
	margin: 0;
	min-height: 70px;
	padding: 0 24px;
	text-align: center;
	text-transform: capitalize;
	width: auto;
}

#navbar div ul li a:hover {
	background-color: #70aa91;
}

#navbar div ul li.selected a {
	background-color: #000000;
	color: lightgray;
}

/*---Body---*/

#body {
	background-color: #ffffff;
	margin: 0;
	min-height: 500px;
	padding: 0;
	width: 100%;
}

#body header {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	width: auto;
}

#body header img.headshot {
	background-color: #70aa91;
	float: left;
	position: relative;
	margin: 10px 20px 0 100px;
	width: 400px;
}

#body header h1 {
	position: relative;
	float: right;
	margin: 100px 100px 27px 0px;
	width: 800px;
	text-align: left;
}